app-dashboard {
  position: relative;
  top: 12%;
}

h2 {
  font-size: 16px;
  color: rgb(0, 0, 102);
}

table.mat-table,
.header {
  width: 92%;
  margin-left: 4%;
  h2 {
    float: left;
    width: 70%;
  }
  .logo {
    float: right;
    // width: 10%;
  }

  .mat-cell {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
  }

  th.mat-column-title {
    width: 45%;
  }

  th.mat-column-name {
    width: 7%;
  }

  th.mat-column-date {
    width: 10%;
  }

  th.mat-column-comment {
    width: 12%;
  }

  td.mat-column-comment {
    padding-right: 20px;
  }

  a.clickableSpan {
    cursor: pointer;
  }

  .name-col {
    position: relative;
    bottom: 5px;
    left: 7px;
  }
}

.header {
  margin-top: 2%;
  height: 70px;
}

.ness-logo {
  background-image: url(../../assets/images/ness-logo.png);
  background-repeat: no-repeat;
  background-position: center-top;
  // width: 100%; // any width
  // height: 230px; // any height
}

.linkedin-img {
  background-image: url(../../assets/images/linkedin-icon.png);
  background-repeat: no-repeat;
  background-position: center-top;
}

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.mat-paginator {
  display: inline;
  .mat-paginator-container {
    padding: 0 34px;
  }
}

.mat-drawer {
  background-color: navy;
}

.sidenav-header {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.font-decor {
  color: lightgreen;
  font-weight: bold;
  font-size: 12px;
}

.mat-paginator-container {
  width: 90% !important;
  padding: 0 120px !important;
}

// .header {
//     width: 100%;
//     // margin-left: 10%;
//     h2 {
//         width: 70%;
//     }
//     .logo {
//         width: 30%;
//     }
// }

.alert-danger {
  background-color: #f8d7da; /* Red */
  border-color: #f5c6cb;
  color: #721c24;
}
.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.alert {
  //padding: 15px;
  //color: white;
  //margin-bottom: 1rem;
  text-align: center;
  width: 88.3%;
  margin-left: 4%;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.footerSubmitButton {
  padding-top: 20px;
  padding-right: 127px;
  margin-bottom: 15px;
  text-align: right;
}

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color: #155724;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  // Default font and background color when not using any color palette.
  color: #fafafa;
  background-color: #3f51b5;
}

.mat-raised-button:hover {
  color: #fafafa;
  background-color: #6877ca;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #3f51b5 !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #3f51b5 !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #3f51b5 !important;
}

.mat-progress-bar {
  .mat-progress-bar-fill::after {
    background: #007bff;
  }
  .mat-progress-bar-buffer {
    background: white;
  }
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.like-dislike-btn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .footerSubmitButton {
    padding-top: 20px;
    padding-right: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .alert {
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
  }
  .table-container .mat-table {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.12);

    // ::ng-deep {
    //   thead {
    //     display: none;
    //   }
    // }

    .mat-header-cell:nth-child(1),
    .mat-header-cell:nth-child(2),
    .mat-header-cell:nth-child(3),
    .mat-header-cell:nth-child(4) {
      display: none;
    }

    .mat-checkbox {
      padding-left: 15px;
      display: block;
    }

    // .mat-cell {
    //   color: blue;
    // }

    .like-dislike-btn {
      display: block;
    }

    .mat-column-comment .mat-form-field {
      width: 100%;
    }

    .mat-row {
      display: flex;
      flex-direction: column;
      height: auto;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding: 15px;

      .mat-cell {
        border: 0;
        padding: 0;
      }

      .mat-column-createdAt {
        padding-top: 15px;
      }

      .mat-column-name {
        display: none;
      }
    }
  }
}
