<div *ngIf="isLoggedIn; else showSpinner">
  <div class="header">
    <h2>Dashboard (Displays the 10 latest posts from LinkedIn)</h2>
    <img
      class="logo"
      src="./assets/images/ness-logo.png"
      alt=""
      width="50px"
      height="50px"
    />
    <br /><br />
  </div>

  <div
    *ngIf="message"
    [ngClass]="{
      alert: message,
      'alert-success': message.type === 'success',
      'alert-danger': message.type === 'error'
    }"
  >
    {{ message.text }}
  </div>
  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
      matSort
      matSortActive="name"
      matSortDisableClear
      matSortDirection="desc"
    >
      <!--ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef>Name</th>
  <td mat-cell *matCellDef="let element">
    <mat-icon svgIcon="linkedin"></mat-icon>
    <span class="name-col">Linkedin</span>
  </td> 
</ng-container-->

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Sr. No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <!--ng-container matColumnDef="post">
  <th mat-header-cell *matHeaderCellDef>Post</th>
  <td mat-cell *matCellDef="let element">{{element.post}}</td>m      
</ng-container-->

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element" [title]="element.commentary">
          <a
            (click)="openPostInWindow(element.uid)"
            href="#"
            class="clickableSpan"
            >{{
              element.commentary && element.commentary.length > 75
                ? (element.commentary | slice : 0 : 75) + "..."
                : element.commentary
            }}</a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date : "dd/MM/YYYY" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>Repost with comments</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field>
            <input
              matInput
              type="text"
              [(ngModel)]="comment[i]"
              id="text_{{ element.id }}"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            labelPosition="after"
            >Like
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            ><span [ngClass]="'like-dislike-btn'">Like</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="selectShare">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRowsShare() : null"
            [checked]="selectionShare.hasValue() && isAllSelectedShare()"
            [indeterminate]="selectionShare.hasValue() && !isAllSelectedShare()"
            labelPosition="after"
            >Repost
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selectionShare.toggle(row) : null"
            [checked]="selectionShare.isSelected(row)"
            ><span [ngClass]="'like-dislike-btn'">Repost</span>
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
      ></tr>
    </table>
  </div>

  <div class="footerSubmitButton">
    <button
      class="mat-raised-button"
      color="primary"
      type="button"
      (click)="submitTableAction()"
    >
      Submit
    </button>
  </div>
</div>

<ng-template #showSpinner>
  <mat-progress-spinner
    class="spinner"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
